html{
    font-size: 62.5%;
    background: $dark-blue;
}


body{
    background: $dark-blue;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: $m-size
}

button{
    cursor: pointer;
}

butoon:disabled{
    cursor:default;
}